:root {
  --speed: infinite;
}
.container {
  padding: 20px;
  margin: auto;
}
.slot {
  width: 250px;
  height: 250px;
  margin: 20px auto;
  background-color: coral;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  border: solid black 2px;
}
.value {
  font-size: 5rem;
  animation-name: slide;
  animation-timing-function: linear;
  animation-duration: calc(1s / var(--speed));
  animation-iteration-count: infinite;
}
.game {
  text-align: center;
  background-color: rgb(158, 141, 139);
  color: white;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  margin: 10px auto;
}
#result {
  font-size: 2rem;
}
@keyframes slide {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(350px);
  }
}
